body {
  margin: 0;
}
input {
  background-color: #f0faff;
  box-shadow: #d3e4eb 0px 1px 10px 1px;
  border-radius: 10px;
  font-weight: 300;
  padding: 10px;
}
.line {
  border-right: 1px solid #d3e4eb;
}
.hr {
  border: 3px solid #46d0d9;
  position: relative;
  margin-left: 10%;
  width: 85%;
}
.custom-shadow {
  box-shadow: #d3e4eb 0px 1px 10px 1px;
}
.box-shadow {
  box-shadow: #6d787c 2px 2px 10px 1px;
}
.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-left: 10px solid #46d0d9;
}
.loader {
  border: 10px solid #f6f6f6; /* Light grey */
  border-top: 10px solid #46d0d9; /* Blue */
  border-radius: 50%;
  width: 62px;
  height: 62px;
  transform: rotate(50deg);
}
.h1 {
  transform: rotate(-50deg);
}
